*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(hpheader.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}


.navbar{
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.navbar a{
    color: #ffff;
    text-decoration: none;
}

.navbar .logo{
      font-size: 3em;
      font-weight: bold;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.navbar .nav-links{
    display: flex;
    align-items: center;
}


.navbar .nav-links ul{
    display: flex;
}

.navbar .nav-links ul li{
    margin: 0 30px;
    list-style: none;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar .nav-links ul li.active a{
    color: rgb(95, 35, 35);
    font-weight: 800;
}

.navbar .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(133, 65, 65);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navbar .nav-links ul li:hover::after{
    width: 100%;
}


.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f1cfe5;
    background: #f1cfe5;
    transition: 1s;
}

.second{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 70px;
}
.second h1{
    font-size: 36px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}

.second-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 5%;
    position: relative;
    overflow: hidden;
    padding: 10px 6px;
    box-sizing: border-box;
}

.second-col img{
    width: 100%;
    display: block;
}


.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(222, 188, 188, 0.7);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 41%;
    opacity: 1;
}


.third{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    background-color: #bba69a;
    padding-bottom: 60px;
}
h1{
    font-size: 40px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2d191d;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #543336;
    font-size: 30px;
    font-weight: 800;
    line-height: 22px;
    padding: 10px;
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: #2d191d;
    border: 4px solid #2d191d;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border: 4px solid #2d191d;
    background: #a82a76;
    transition: 1s;
}

.fourth{
    width: 100%;
    padding: 100px 0px;
    background-color:white;
}

.fourth img{
    height: 48%;
    width: 530px;
}


.about-text{
    width: 600px;
    background-color: #906f70;
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 50px 10px;
}

.main{
    width: 1130px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-text h2{
    color: black;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: black;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p{
    color: #66473e;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 14px;
    margin-bottom: 45px;
    background-color: #f8e9e3;
    border-radius: 150px 150px 0px 0px;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.button{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 13px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.button:hover{
    border: 1px solid #f1cfe5;
    background: #d4ced2;
    transition: 1s;
}

footer{
    background-color: #222;
    padding: 3rem 0;
}

.icons{
    text-align: center;
}
.icons .social i{
    font-size: 3rem;
    color: grey;
    padding: 1rem;
    transition: all 0.4s ease;
}

.icons .social i:hover{
    color: #ffff;
    cursor: pointer;
}

.icons .copyright p{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: white;
    margin: 2rem 0;
}



